@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ottoRegular";
  src: url("fonts/otto.woff2") format("woff2"),
    url("fonts/otto.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "parisRegular";
  src: url("fonts/paris.woff2") format("woff2"),
    url("fonts/paris.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body::-webkit-scrollbar {
  display: none;
}

@media only screen and (min-width: 300px) {
  .flex-gap {
    gap: 1px;
  }
}

@media only screen and (min-width: 330px) {
  .flex-gap {
    gap: 8px;
  }
}
@media only screen and (min-width: 400px) {
  .flex-gap {
    gap: 26px;
  }
}

@media only screen and (max-width: 367px) {
  [dishHolder] {
    gap: 3px;
  }
  [dishHolder] > div {
    max-width: 160px;
  }
  [beverageItems] {
    gap: 5px;
  }
  [beverageItems] > div {
    width: 100px;
  }
}

@media only screen and (max-width: 360px) {
  [dishHolder] > div {
    max-width: 160px;
  }
}

.w-40 > [data-dynamic-src="itemQuarter.svg"] {
  width: 130px;
}
